<<<<<<< HEAD
=======
@CHARSET "ISO-8859-1";

#SiteHeader
{
	position : absolute;
	top: 0;
	left: 0;
	border-bottom-style: solid;
	border-width: 3px;
	background : linear-gradient(#8ca6d9,#9cc9c9 );
	background-color : #9cc9c9;
	width : 100%;
	height : 12%;
	z-index: 10;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
}

#ButtonPane
{
	width : 100%;
	right : 0px;
	display : block;
	position: relative;
	background-color: #57badb;
	border-width: 2px;
	border-top : solid;
	z-index: 11;
	
}

.adminOption
{
	float: left;
	width : 20%;
	font-size : 20px;
	border-width: 0px;
	text-align : center;
	background-color : #57badb;
	cursor: pointer;
	margin-left : 20%;
	
}


.adminOption:hover
{
	background-color : #47a9db;
}

#SiteBody
{
	position: absolute;
	max-width: 100%;
	width: 100%;
	top: 12%;
	left: 0px;
	z-index: 5;
	
}

#CU_UserBox
{
	width : 60%;
	margin : 0 auto;
	background-color: #BBBBBB;
	position: relative;
	height : 310px;
	z-index : 8;
	top : 30px;
	overflow: auto;
}

#CU_UserInputFields
{
	z-index : 9;
	position : absolute;
	top : 20px;
	display: none;
	margin-left :auto;
	margin-right : auto;
	text-align: left;
	
}

#UserTableBox
{
	width : 60%;
	margin : 0 auto;
	background-color: #bdccdb;
	position : relative;
	top : 50px;
}
#UserTable
{
	top : 25px;
	position : absolute;
	width : 100%;
}
#UserTable tr
{
	height-max : 20px;
}
#UserTable tr:hover
{
	background-color : #d6f5f5;
}



#UserTable, #UserTable th, #UserTable td
{
	border : solid;
	border-width : 1px;
	border-collapse: collapse;
}

#UserTable th, #UserTable td
{
	padding: 5px;
}

#UserTable th
{
	height-max : 30px;
	text-align : left;
	background-color: #57badb;
	color : white;
}

#UserTable td
{
	height : 20px;
	text-align : center;
	background-color : #daf1f1;
}

.inputField
{
	
	border: solid;
	border-width: 2px;
	border-color: #8c8c8c;
	margin: 4px 0px;
}

.inputField:focus
{
	border-color: #595959;
}

.CU_subfields
{
	float: left;
	margin-left : 50px;
}

#CU_buttonbox
{
	height : 230px;
	width : 100px;
	float : right; 
}

#CreateUserOK
{
	position : absolute;
	bottom : 0;
}
#CPR
{
	width : 45px;
}

#CPR2
{
	width : 30px;
}

#IDField
{
	width : 20px;
}

Body
{
	background-color : #d9d9f2;
}
>>>>>>> branch 'Website' of https://github.com/Gruppe25DTU/CDIO3.git
